<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webssh</title>
    <link rel="icon" href="../static/favicon.ico"/>
    {% comment %} <link rel="stylesheet" href="/static/xterm/xterm.css"/> {% endcomment %}
    <link rel="stylesheet" href="../static/xterm/style.css"/>
    {% comment %} <link rel="stylesheet" href="/static/bootstrap.min.css"/> {% endcomment %}
    <link rel="stylesheet" href="../static/node_modules/xterm/css/xterm.css"/>
    <link rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <style>
        .input-width {
            width: 20%;
            display: inline-block;
        }

        .hide {
            display: none;
        }
    </style>
</head>

<body>
    <div id="django-webssh-terminal">
        <div id="terminal"></div>
    </div>
    {% comment %} <script src="/static/jquery.min.js"></script> {% endcomment %}
    {% comment %} <script src="/static/xterm/xterm.js"></script> {% endcomment %}
    <script src="../static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../static/node_modules/xterm/lib/xterm.js"></script>
    <script src="../static/platform_webssh.js"></script>
</body>
</html>