@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.el-dialog {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  .el-dialog__header{
    border-bottom:1px solid #E5E9F2;
    padding:0 20px;
    .el-dialog__title{
      font-size: 16px;
      font-weight:bold;
      color:#242F3E;
      line-height: 50px;
    }

  }
  .el-dialog__body{
    padding:18px 20px;
    border-bottom:1px solid #E5E9F2;
    margin-bottom: 5px;
  }
}
.el-table{
  .headbg {
    th {
      background: #e5e9f2;
      color: #3c4654;
      >div {
        font-weight: 700;
      }
    }
  }
  .el-table__expanded-cell[class*=cell] {
    padding: 7px 0px;
  }
  .cell {
    padding:7.5px 0
  }

  &.el-table--mini th,
  &.el-table--mini td {
    // padding:0;
    font-size: 14px;
  }
  .opreater{
    color:#3c6eff;
    cursor: pointer;
    padding:0;
    border:0;

    &:hover{
      background:none;
    }
    &.delete:hover{
      color: #ff8b95;
    }
    &+.opreater{
      margin-left: 5px;
    }
    &.is-disabled{
      color:#999;
      &:hover{
        color:#999
      }
    }
    span{
      font-size:14px;
    }
  }
}
